<div class="container">
    <h2> Ajout d'un employé</h2>
    <form>
        <div>
            <label> Donnez le CIN</label>
            <input type="text">
        </div>

        <div>
            <label> Donnez le nom</label>
            <input type="text">
        </div>

        <div>
            <label> Donnez le prenom</label>
            <input type="text">
        </div>
        <div>
            <label> Donnez la date de naissane</label>
            <input type="text">
        </div>
        <div>
            <label> Donnez l'adresse</label>
            <input type="text">
        </div>
        <div>
            <label> Donnez l'adresse mail</label>
            <input type="text">
        </div>
        <div>
            <label> Donnez le nombre de telephone</label>
            <input type="number" placeholder="000000000000">
        </div>
        <div class="p-2 bg-light rounded">
            <strong>Affiliation</strong>
            <div>
                <div>
                    <label> Choisissez le département</label>
                    <input type="radio" value="TI"> IT
                    <input type="radio" value="MGT"> Management
                </div>
                
            </div>
        </div>
    </form>
</div>
<app-list-personne></app-list-personne>